footer {
  font-size: 14px;
}
footer .footer-1 {
  background-color: #FAFAFA;
  padding: 30px;
}
@media (max-width: 577px) {
  footer .footer-1 {
    padding: 44px 30px;
  }
}
footer .footer-1 .head {
  font-weight: bold;
  color: #E6332A;
  margin-top: 24px;
  font-size: 16px;
}
@media (max-width: 577px) {
  footer .footer-1 .head {
    margin: 15px 0px 10px 0px ;
  }
}
footer .footer-1 .logo {
  width: 108px;
}
@media (max-width: 577px) {
  footer .footer-1 .logo {
    width: 145px;
  }
}
footer .footer-1 a {
  text-decoration: none;
  color: #333333;
}
footer .footer-2 {
  font-family: 'TATSanaSuksaBold';
  background-color: #213A8F;
  color: #fff;
}
@media (max-width: 577px) {
  footer .footer-2 {
    padding: 15px 0px;
  }
}
@media (max-width: 769px) {
  footer .footer-2 .container {
    max-width: 100%;
  }
}
footer .footer-2 .copyright {
  padding: 0.5rem 1rem;
  padding-left: 0px;
}
@media (max-width: 769px) {
  footer .footer-2 .copyright {
    padding: 0.5rem 0.5rem;
    font-size: 12px;
  }
}
@media (max-width: 577px) {
  footer .footer-2 .copyright {
    padding: 0.5rem 2rem;
  }
}
footer .footer-2 .nav {
  float: right;
}
@media (max-width: 769px) {
  footer .footer-2 .nav .nav-link {
    padding: 0.5rem 0.5rem;
    font-size: 12px;
  }
}
@media (max-width: 577px) {
  footer .footer-2 .nav .nav-link {
    padding: 0.5rem 2rem;
  }
}
footer .footer-2 a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 15px;
  margin-bottom: 0;
  list-style: none;
}
.ant-col .no-pad .ant-col {
  padding-right: 30px;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.ml-1{
  margin-left: .25rem!important;
}

div .no-pad{
  margin-left: 0px;
  margin-right: 0px;
}