.Banner {
  &__coverImage {
    height: 350px;
    @media (max-width: 768px) {
      height: 242px;
    }
    @media (max-width: 577px) {
      height: 221px;
    }
  }
  &__cover-img-1 {
    background: url('../../images/banner-left.png') no-repeat;
    background-size: cover;
    @media (max-width: 577px) {
      background: url('../../images/banner-left-s.png') no-repeat;
      background-size: cover;
    }
  }
  &__cover-img-2 {
    background: url('../../images/banner-center.png') no-repeat;
    background-size: cover;
    @media (max-width: 577px) {
      background: url('../../images/banner-center-s.png') no-repeat;
      background-size: cover;
    }
  }
  &__cover-img-3 {
    background: url('../../images/banner-right.png') no-repeat;
    background-size: cover;
    @media (max-width: 577px) {
      background: url('../../images/banner-right-s.png') no-repeat;
      background-size: cover;
    }
  }
}
.banner {
  padding-top: 60px;
  img {
    width: 100%;
    height: 100%;
  }
}
.logoBox {
  padding: 20px;
  width: 280px;
  margin: auto;
  @media (max-width: 769px) {
    width: 146px;
    height: 173px;
  }
  @media (max-width: 577px) {
    width: 110px;
    height: 131px;
    padding: 0;
  }
}

.box-tat {
  margin: 150px 0px;
  @media (max-width: 577px) {
    margin: 80px 0px;
    text-align: center;
  }
  img {
    width: 100%;
    height: 100%;
    @media (max-width: 577px) {
      width: 80%;
    }
  }
}

.box-register {
  font-family: TATSanaSuksaBold;
  text-align: center;
  margin: 26px 0px;
  font-weight: bold;
  hr {
    margin-top: -3%;
    @media (max-width: 1024px) {
      margin-top: -4%;
    }
    @media (max-width: 769px) {
      margin-top: -4.5%;
    }
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.btn-register {
  font-family: TATSanaSuksaBold;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
  background-color: #213A8F;
  font-size: 24px;
  margin: 10px 0px;
  width: 800px;
  padding: 10px;
  @media (max-width: 769px) {
    font-size: 18px;
  }
  @media (max-width: 577px) {
    font-size: 18px;
    width: 100%;
  }

  cursor: pointer;
  font-weight: 400;
  border: 1px solid transparent;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:hover {
    background-color: #FBBC33;
    box-shadow: none;
  }
  &:focus {
    outline: 0;
  }
}
.time {
  margin-top: -10px;
  font-size: 48px;
  color: #E6332A;
  @media (max-width: 769px) {
    font-size: 36px;
  }
  @media (max-width: 577px) {
    font-size: 30px;
  }
}

.box-detail {
  margin: 70px 0px;
  .head-title {
    font-family: TATSanaSuksaBold;
    font-size: 36px;
    color: #E6332A;
    @media (max-width: 769px) {
      font-size: 24px;
      line-height: 1.3;
    }
    @media (max-width: 577px) {
      font-size: 24px;
      line-height: 1.6;
    }
  }
  .condition {
    z-index: 100;
    .title {
      font-weight: bold;
      li {
        display: inline-block;
      }
    }
  }
  .detail {
    font-family: TATSanaSuksa;
    font-size: 18px;
    @media (max-width: 769px) {
      font-size: 14px;
    }
    @media (max-width: 577px) {
      font-size: 16px;
    }
  }
  .title {
    font-family: TATSanaSuksaBold;
    font-size: 18px;
    @media (max-width: 769px) {
      font-size: 14px;
    }
    @media (max-width: 577px) {
      font-size: 16px;
    }
  }
}

.box-ktc {
  margin: 100px 0px;
  @media (max-width: 577px) {
    margin: 80px 0px;
  }
  img {
    width: 102px;
    @media (max-width: 577px) {
      width: 56px;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: all 0.55s ease-in-out;
    }
  }
}
